.name-input {
    display: none;
}
.password-input {
    display: none;
}
.confirm-btn {
    display: none;
}
.back-btn {
    display: none;
}

.home-page {
    display: none;
}
.cancel-btn {
    display: none;
}